<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Details</title>
    <%- include('../../layouts/links') %>
    <link rel="stylesheet" href="../../../styles/rest.css" />
    <link rel="stylesheet" href="../../../styles/base.css" />
  </head>
  <body>
    <%- include('../../layouts/header') %>
    <div class="container column">
      <% books.forEach((book)=>{ %>
      <div class="book_container">
        <img src="<%=book.image_url%>" />
        <h2><%=book.title%></h2>
        <p><%=book.author%></p>
        <p><%=book.descriptions%></p>
        <p><%=book.isbn%></p>
        <div class="row btnOptions">
          <form
            action="/deletBook/<%= book.id %>?_method=delete "
            method="POST"
            onsubmit="return confirm('Are you sure you want to delete this item?'); "
          >
            <button type="submit">Delete Book</button>
          </form>
          <button id="updateBtn">Update</button>
        </div>
      </div>
      <%});%>
    </div>
    <div id="updateForm_container" class="row">
      <form
        action="/updateBook/<%= books[0].id %>?_method=put "
        id="updateForm"
        method="POST"
        class="column"
      >
        <input type="text" name="author" value="<%=books[0].author%>" />
        <input type="text" name="title" value="<%=books[0].title%>" />
        <input
          type="text"
          readonly="readonly"
          name="isbn"
          value="<%=books[0].isbn%>"
        />
        <img src="<%= books[0].image_url %> " alt="" />
        <input
          type="text"
          readonly="readonly"
          name="image_url"
          value="<%=books[0].image_url%>"
        />
        <textarea name="descriptions" cols="30" rows="10">
<%=books[0].descriptions%></textarea
        >
        <input type="submit" value="Update" />
      </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../../js/app.js"></script>
  </body>
</html>
