<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Details</title>
    <%- include('../../layouts/links') %>
    <link rel="stylesheet" href="../../../styles/rest.css" />
    <link rel="stylesheet" href="../../../styles/base.css" />
  </head>
  <body>
    <%- include('../../layouts/header') %>
    <div class="container column">
      <% books.forEach((book)=>{ %>
      <div class="book_container">
        <img src="<%=book.image_url%>" />
        <h2><%=book.title%></h2>
        <p><%=book.author%></p>
        <p><%=book.descriptions%></p>
        <p><%=book.isbn%></p>
        <div class="row btnOptions">
          <form
            action="/deletBook/<%= book.id %>?_method=delete "
            method="POST"
          >
            <button type="submit">Delete Book</button>
          </form>
          <button id="updateBtn">Update</button>
        </div>
        <form
          action="/updateBook/<%= book.id %>?_method=put "
          id="updateForm"
          method="POST"
        >
          <input type="text" name="author" value="<%=book.author%>" />
          <input type="text" name="title" value="<%=book.title%>" />
          <input type="text" name="isbn" value="<%=book.isbn%>" />
          <input type="text" name="image_url" value="<%=book.image_url%>" />
          <textarea name="descriptions" cols="30" rows="10">
            <%=book.descriptions%> 
          </textarea>
          <input type="submit" value="Update" />
        </form>
      </div>
      <%});%>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../../js/app.js"></script>
  </body>
</html>
