<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Best Books</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home Page</a>
        <a href="/searches/new">Search For a new Book</a>
        <a href="../pages/books/show.ejs">See You Books</a>
      </nav>
    </header>

    <div class="container">
      <% books.forEach((item,index)=>{ %>
      <div class="book_container">
        <img src="<%=item.image_url%>" />
        <h2><%=item.title%></h2>
        <h3><%=item.author%></h3>
        <h3><%=item.descriptions%></h3>
        <form action="/addBook" method="post">
          <input type="hidden" name="author" value="<%=item.author%>" />
          <input type="hidden" name="title" value="<%=item.title%>" />
          <input type="hidden" name="isbn" value="<%=item.isbn%>" />
          <input type="hidden" name="image_url" value="<%=item.image_url%>" />
          <input
            type="hidden"
            name="descriptions"
            value="<%=item.descriptions%>"
          />
          <input type="submit" value="Add Book" />
        </form>
      </div>
      <%});%>
    </div>
  </body>
</html>
