<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Best Books</title>
    <%- include('../../layouts/links') %>
    <link rel="stylesheet" href="../../../styles/rest.css" />
    <link rel="stylesheet" href="../../../styles/base.css" />
  </head>
  <body>
    <%- include('../../layouts/header') %>
    <div id="mainTitle">
      <p>Search Results</p>
    </div>
    <div class="container column">
      <% books.forEach((item,index)=>{ %>
      <div class="book_container">
        <img src="<%=item.image_url%>" />
        <h2><%=item.title%></h2>
        <p><%=item.author%></p>
        <p><%=item.descriptions%></p>
        <form action="/addBook" method="post">
          <input type="hidden" name="author" value="<%=item.author%>" />
          <input type="hidden" name="title" value="<%=item.title%>" />
          <input type="hidden" name="isbn" value="<%=item.isbn%>" />
          <input type="hidden" name="image_url" value="<%=item.image_url%>" />
          <input
            type="hidden"
            name="descriptions"
            value="<%=item.descriptions%>"
          />
          <input type="submit" value="Select This Book" />
        </form>
      </div>
      <%});%>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../../js/app.js"></script>
  </body>
</html>
